<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="Input"
        class="InputProps"
    >


      <tag-edit-field
    label="Something"
    editor="Textbox"
    rows="3"
    placeholder="Enter something"
    magic="A"
    formControlName="A"


    id = 'testField'
  >


    </tag-edit-field>

      <tag-edit-field
        label="Something"
        editor="Textbox"
        rows="3"
        placeholder="Enter something"

        magic="B"
        formControlName="B"

      >
      </tag-edit-field>


      <tag-button
        [disabled]="mg.isDisabled('Button6' )"
        (click)="onClick()"

        magic="Button6"

      >
        {{mg.getValue('Button6')}}
      </tag-button>



</div>
